/ScratchLangSharedFiles/data/projects
/ScratchLangSharedFiles/data/mainscripts/var/devmode
/ScratchLangSharedFiles/data/mainscripts/var/alias
/ScratchLangSharedFiles/data/mainscripts/var/asked
/ScratchLangSharedFiles/data/mainscripts/var/vc
/ScratchLangSharedFiles/data/mainscripts/var/peop
/ScratchLangSharedFiles/data/mainscripts/var/zenity
/.vs
/x64
/Debug
/ScratchLangCPP/bin
/ScratchLangCPP/obj
/ScratchLangCPP/Debug
/ScratchLangLinux/bin
/ScratchLangLinux/obj
/.vscode
/out
